<ejs-treegrid 
[dataSource]='data'
 #treegrid 
 [allowResizing]='true' 
  [treeColumnIndex]='1'
 [allowReordering]='true'
 [contextMenuItems]='contextMenuItems'
 childMapping='subtasks' 
 [allowFiltering]='isAllow' 
 height="100%"
 width="100%"
 [allowSorting]='isSort'
 [editSettings]='editSettings' 
 [selectionSettings]='selectionOptions' 
 [frozenColumns]='frozenColumns'
 [sortSettings]='initialSort' 
 (contextMenuClick)='contextMenuClick($event)'
 (contextMenuOpen)='contextMenuOpen($event)' 
 [allowSelection]='true'
  [rowDropSettings]='rowDrop' [allowRowDragAndDrop]='true'
 >
 <e-columns>
 <!-- <e-column *ngFor="let d of data" [field]='d'  [headerText]='d' ></e-column> -->
    <e-column field='taskID'  headerText='Task ID' [isPrimaryKey]='true' ></e-column>
    <e-column field='taskName' editType='stringedit' [edit]='editOptions'  headerText='Task Name' ></e-column>
    <e-column field='startDate'  headerText='Start Date'  format="yMd" textAlign='Right'></e-column>
    <e-column field='endDate'  headerText='End Date' format="yMd" textAlign='Right'></e-column>
    <e-column field='priority'  headerText='Priority'  textAlign='Right'></e-column>
    <e-column field='approved'  headerText='Status'  textAlign='Right'></e-column>
    <e-column field='progress'  headerText='Progress'  textAlign='Right'></e-column>
    <e-column field='duration' headerText='Duration'  textAlign='Right'> </e-column>
    <e-column field='New Column' headerText='New Column'  *ngIf="showColumn" textAlign='Right'> </e-column>
  </e-columns>
</ejs-treegrid>